In [9]:
import boto3
import sagemaker
from pyathena import connect
import pandas as pd

In [10]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [11]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{}/athena/staging".format(bucket)

In [12]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [13]:
database_name = 'fda'

In [14]:
create_database_sql = 'CREATE DATABASE IF NOT EXISTS {}'.format(database_name)

In [15]:
pd.read_sql(create_database_sql, conn)

Empty DataFrame
Columns: []
Index: []

Verify database was created.

In [16]:
pd.read_sql('SHOW DATABASES', conn).head()

  database_name
0       default
1           fda