In [71]:
import boto3
import sagemaker
import pandas as pd
import io

In [52]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

sm = boto3.Session().client(service_name='sagemaker', region_name=region)
s3 = boto3.client('s3')

Access the Model Endpoint

In [53]:
endpoint_name = sm.list_endpoints()['Endpoints'][0]['EndpointName']
endpoint_name

'xgboost-220329-0214-004-a00b3c69'

In [54]:
predictor = sagemaker.predictor.Predictor(
    endpoint_name=endpoint_name,
    sagemaker_session=sess
)

In [55]:
# Create a serializer
predictor.serializer = sagemaker.serializers.CSVSerializer()

Get the Test Data

In [56]:
key = 'data/test/data.csv'

In [58]:
response = s3.get_object(Bucket=bucket, Key=key)

In [60]:
content = response['Body'].read()

In [74]:
feature_names = [
   ' product_type_HUMAN OTC DRUG',
    'mentions_drug_interactions',
    'product_type_HUMAN PRESCRIPTION DRUG',
    'dosage_form_LIQUID',
    'dea_schedule_N/A',
    'dosage_form_TABLET, FILM COATED',
    'dosage_form_TABLET',
    'dosage_form_CAPSULE',
    'marketing_start_month_3',
    'dosage_form_SOLUTION'    
]

In [75]:
test_data = pd.read_csv(io.BytesIO(content), names=feature_names)

Evaluate the Model on the Test Data

In [73]:
test_data.head()

   1  0  1.1  0.1  0.2  0.3  1.2  0.4  1.3  0.5  0.6  0.7
0  0  1    1    0    0    0    1    0    0    0    0    0
1  1  0    0    0    1    0    1    0    0    0    0    0
2  0  1    1    0    0    0    1    0    0    0    1    0
3  1  0    1    0    0    0    1    0    0    0    0    1
4  1  0    1    0    0    0    1    0    0    0    0    0